datasets/
notebooks/.ipynb_checkpoints/
notebooks/__pycache__/
slides/~$Intro.pptx
slides/~$Intro2.pptx
notebooks/Untitled.ipynb
notebooks/useful_tools.pyc
notebooks/introductions/.ipynb_checkpoints/Introduksjon til klassifisering-checkpoint.ipynb
notebooks/introductions/.ipynb_checkpoints/Introduksjon til lineær regresjon-checkpoint.ipynb
notebooks/exercises/.ipynb_checkpoints/KmeansImage-checkpoint.ipynb
notebooks/exercises/.ipynb_checkpoints/HousePricing-checkpoint.ipynb
notebooks/introductions/.ipynb_checkpoints/Introduksjon_til_decision_trees-checkpoint.ipynb
notebooks/exercises/.ipynb_checkpoints/Mnist-checkpoint.ipynb
