datasets/
notebooks/.ipynb_checkpoints/
notebooks/__pycache__/
slides/~$Intro.pptx
slides/~$Intro2.pptx
notebooks/Untitled.ipynb
notebooks/useful_tools.pyc
notebooks/introductions/.ipynb_checkpoints/Introduksjon til klassifisering-checkpoint.ipynb
notebooks/introductions/.ipynb_checkpoints/Introduksjon til lineær regresjon-checkpoint.ipynb
